*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background-color: #F8EDE3;
  }

p{
  color: #3D3C42;
  font-weight: 500;
}

.hr {
  border-style: dotted none none none;
  border-width: 10px;
  width: 20%;
  margin: auto;
  color: black;
}

.title {
  background-color:F8EDE3;
  color: #3D3C42;
  margin-right: 0;
}

.navbar{
  margin: 0;
  padding: 0 0 3rem;  
}
 .navbar-nav{
  text-align: center;
}
  .navbar-brand{
  --bs-navbar-brand-font-size: 3rem;
}
.navbar-toggler{
  --bs-navbar-toggler-font-size: 2rem;
}  
.row{
  margin: 0;
  align-items: center;
  padding: 5%;
}
.h-image-1{
  height: 90%;
  width: 90%;
  border-radius: 100%;
  border-color: black;
  border: 4px solid;
}

.content{
  line-height: 1.5;
  padding-top: 5%;
  color: #3D3C42;
  margin: auto 0 auto 0;
  font-size: 1.2rem;
}

.toHarshita{
  padding: 3% 5%;
  color:  black;
  font-weight: 900;
  font-size: 1.8rem;
}

.para-1 {
 padding: 5% 10% 2% 5%;
 text-align: left;
}
.para-3{
  padding: 5% 10% 5% 5%;
 text-align: left;
}
.para-2 {  
  padding: 5% 5% 2% 10%;
  text-align: right;
}
.para-4{  
    padding: 5% 5% 2% 10%;
    text-align: right;
}
.footer{
  background-color: #F8EDE3;
  padding: 10% 0 10% 0;
  text-align: center;
}
.btn{
  background-color: gray;
  font-size: 1.8rem;
  width: 40%;
}
.btn:hover{
  color: white;
  background-color: black;
}

  @media (max-width: 700px) {
    .big-heading{
      font-size: 2rem;
    }
    .navbar-brand{
     font-size: 2rem;
    }
    .navbar-toggler{
     font-size: 2rem;
    }
  }
